@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* General */
body {
    font-family: "700, Lato", Arial, sans-serif;
    color: #65ccb8;
}

.heading {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*-- Hero-image -- */
#hero-image {
    background: url(../images/dublin-liffey.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

/*-- About-heaidng--*/
.content-border-style {
    position:relative;
    top:1px;
    display:inline-block;
    border:1px solid rgb(0, 0, 0);
    margin: 5px;
    background-color: #F76C6C;
}

/*--- navbar ---- */
.navbar-brand {
    text-transform: uppercase;
    font-family: "400, Lato", sans-serif;
    font-weight: bold;
    font-size: 120%;
}

.navbar-nav {
    font-family: 'Lato', sans-serif;
    color: #182628;
    text-transform: uppercase;
    text-decoration: black;
    
}

nav a:hover {
    border-bottom: 1px solid #000000;
}

/*-- Media queries */
@media only screen and (max-width: 600px) {
    #hero-image {
        padding-top: 50%;
        padding-bottom: 50%;
    }
}